_dev
.vscode
wp-admin/
wp-includes/
wp-content/cache
wp-content/et-cache
wp-content/languages
wp-content/mu-plugins
wp-content/uploads
wp-content/plugins
wp-content/upgrade
wp-content/wflogs
wp-content/wpo-cache
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/Divi

wp-content/wflogs/config-livewaf.php
