/**
*** Fonts
**/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
  font-family: 'AlegreyaSans';
  src: url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: 'Archangelsk';
  src: url('../fonts/Archangelsk.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara.ttf') format('truetype');
  font-style: normal;
}


